# IntelliJ IDEA files
out
.idea/
*.iml
**/*.iml

# Application stuff
felix-cache
plugins

# gradle files
.gradle/
gradle.properties
**/gradle.properties
build
**/build/

# maven files
target
**/target/

# Error files generated when JavaFX crashes
hs_err_*
