<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>bintray</id>
            <username>${BINTRAY_USER_NAME}</username>
            <password>${BINTRAY_API_KEY}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>release</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <setup.service.twitter.consumerKey>${TWITTER_CONSUMER_KEY}</setup.service.twitter.consumerKey>
                <setup.service.twitter.consumerKeySecret>${TWITTER_CONSUMER_SECRET}</setup.service.twitter.consumerKeySecret>
            </properties>
        </profile>
    </profiles>
</settings>